@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.container{
  max-width: 700px;
  margin: 100px auto 0;
}

.container ul{
  list-style: none;
}

.container ul li{
  background-color: rgb(201, 194, 194);
  padding: 10px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  margin-top: 20px;
  max-height: 45px;
  transition:  500ms ease;
  overflow: hidden;
}
.container ul li.show{
  max-height: 150px;
}

.container ul li.show .fa-angle-down{
  transform: rotate(180deg);
}

.container ul li .content{
  padding-top: 10px;
}


.accordian-item .btn{
  float: right;
  border: none;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}