body{
  margin: 0px;
  padding: 0px;

}
.header{
  height: 90px;
  display: flex;
  background-color: darkcyan;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.logo{
  float: left;
}
#logo{
  height: 70px;
  width: 70px;
  margin: 10px;
}
.nav{
  position: absolute;
  left:53%;
  justify-content: center;
  align-items: center;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 20px;

}
a{
  margin: 10px;
  padding: 15px;
  color: aliceblue;
  text-decoration: none;
}
.content{
  width: 100%;
}
#image-banner{
  width: 100%;
  height:800px;
  opacity: 0.8;

}
.title{
  position: absolute;
  top: 150px;
  right:50px;
}
#title{
  margin-bottom: 20px;
  color:black;
  font-size: 3em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#description{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  font-size: 1.5em;
  color:slategrey;
}
.courses{
  margin: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
  margin: 25px;
  padding: 5px;
}
.webheading{
  font-family: Arial, Helvetica, sans-serif;
  margin-top:30px;
  text-align: center;
}
#more{
  
  margin-left: 550px;
  margin-bottom: 20px;
  max-width: 150px;
  display:block;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  text-align: center;
  color: white;
  background-color: blue;
  padding: 5px;
}




